<header class="jumbotron p-3 mt-3">
  <h3>Livro dos Elfos</h3>

  <!-- Left navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/about" class="nav-link">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-link" id="aboutButton">Sobre</a>
      </li>
    </ul>

    <!--Right navbar-->
    <ul class="nav ml-auto">
      <li class="nav-item">
        <a routerLink="/shopping-list" class="nav-link disabled">Carrinho
          <fa name="far fa-shopping-cart"></fa>
        </a>
      </li>
    </ul>
  </nav>
</header>