<h3 class="mt-2">Livros disponíveis</h3>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Autor(a)</th>
            <th scope="col">Preço</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <!--Ocorre o erro: Can't bind to 'bookRow' since it isn't a known property of 'tr'.
          <tr *ngFor="let book of booksList | async" app-shopping-list-item [bookRow]="book" [mode]="mode">
          </tr>-->
          <tr *ngFor="let book of booksList | async">
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
            <td *ngIf="book.quantity == 0">
              <span>Produto esgotado
              </span>
            </td>
            <td *ngIf="book.quantity != 0">
              <button class="btn btn-danger btn-block" (click)="addToCart(book)">Comprar</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Toda diretiva estrutural tem * -->
<!-- OLD WAY 
<ul class="list-group">  
  <app-shopping-list-item *ngFor="let item of list | async" [shoppingItem]="item">
  </app-shopping-list-item>
</ul>
-->