<form>
  <div class="input-group mt-3">
    <!-- two way data bind =  [(ngModel)]-->
    <input type="text" class="form-control" placeholder="Item name" [(ngModel)]="itemToAdd" name="myInput">
    <button type="submit" class="btn btn-primary"
        (click)="addObjectToList()">Add</button>
  </div>
</form>

<br>

<ul class="list-group">

  <!-- Toda diretiva estrutural tem * -->
  <app-shopping-list-item 
      *ngFor="let item of list | async"
      [shoppingItem]="item">
  </app-shopping-list-item>  
</ul>
