<div class="row">
  <div class="col-lg-6">
    <h3 class="mt-2">Cadastrar livro</h3>
    <form>
      <div class="form-group">
        <label for="bookName">Nome</label>
        <input type="text" class="form-control col-lg-8" [(ngModel)]="bookName" id="bookName" name="bookName" placeholder="Ex: The Witcher: A Espada do Destino">
      </div>
      <div class="form-group">
        <label for="description">Autor</label>
        <input type="text" class="form-control col-lg-8" [(ngModel)]="author" id="author" name="author" placeholder="Ex: Andrzej Sapkowski">
      </div>
      <div class="form-group">
        <label for="quantity">Quantidade em estoque</label>
        <input type="number" class="form-control col-lg-8" [(ngModel)]="quantity" id="quantity" name="quantity" placeholder="Ex: 10">
      </div>
      <div class="form-group">
        <label for="quantity">Preço</label>
        <input type="number" class="form-control col-lg-8" [(ngModel)]="price" id="price" name="price" placeholder="R$15,00">
      </div>
      <button type="submit" class="btn btn-primary" (click)="add()">Salvar</button>
    </form>
  </div>

  <div class="col-lg-6">
    <h3 class="mt-2">Livros Cadastrados</h3>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Autor(a)</th>
            <th scope="col">Preço</th>
            <th scope="col">Quantidade</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <!--Ocorre o erro: Can't bind to 'bookRow' since it isn't a known property of 'tr'.
            <tr *ngFor="let book of books | async" app-shopping-list-item [bookRow]="book" [mode]="mode">
            </tr>-->
          <tr *ngFor="let book of books | async">
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
            <td *ngIf="book.quantity == 0" class="text-center">
              <span>Estoque vendido!
              </span>
            </td>
            <td *ngIf="book.quantity != 0">
              {{ book.quantity }}
            </td>
            <td>
              <button class="btn btn-danger btn-block" (click)="removeBook(book)">Remover
                <fa name="far fa-trash"></fa>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>