<div class="container-fluid">
  <!-- 
    as user: nomeando o resultado.
    else showLogin: caso de errado, ele faz isso. E o showLogin vai mostrar o template
   -->
  <div *ngIf="authService.afAuth.authState | async as user; else showLogin">
    <div class="row">
      <div class="col-sm">
        Hi {{ user.displayName }}!
      </div>
      <div class="col-sm text-right">
        <button class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
    </div>

    <app-header></app-header>
    <div class="content">
      <!-- Navegar entre as paginas sem ter que dar reload-->
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- ng-template: html solto sem controle de logica-->
  <ng-template #showLogin>
    <p>Please login:
      <button class="btn btn-primary" (click)="login()">Login with Google</button>
    </p>
  </ng-template>
</div>