<div class="container-fluid">
  <!-- 
    as user: nomeando o resultado.
    else showLogin: caso de errado, ele faz isso. E o showLogin vai mostrar o template
   -->

  <div *ngIf="authService.afAuth.authState | async as user; else showLogin">
    <div class="row">
      <div class="col-8">
        Hi {{ user.displayName }}!
        <fa name="far fa-user"></fa>
      </div>
      <div class="col-4 text-right">
        <button class="btn btn-outline-info" (click)="logout()">Logout</button>
      </div>
    </div>

    <app-header></app-header>
    <div class="content">
      <!-- Navegar entre as paginas sem ter que dar reload-->
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- ng-template: html solto sem controle de logica-->
  <ng-template #showLogin>
    <div class="text-center">
      <form class="form-signin">
        <img id="logoSignIn" src="assets/images/logo_livraria.PNG" class="rounded">
        <br>
        <button class="btn btn-google" (click)="login()">Login with Google
          <fa name="far fa-google"></fa>
        </button>
        <p class="mt-5 mb-3 text-muted">© 2018</p>
      </form>
    </div>
  </ng-template>
</div>